In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [4]:
df_combat = pd.read_csv('combats.csv')
df_test = pd.read_csv('tests.csv')
df_pokemon = pd.read_csv('pokemon.csv')

In [5]:
display(df_combat.head())
display(df_combat.shape)

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151

(50000, 3)

In [6]:
display(df_test.head())
display(df_test.shape)

   First_pokemon  Second_pokemon
0            129             117
1            660             211
2            706             115
3            195             618
4             27             656

(10000, 2)

In [7]:
display(df_pokemon.head())
display(df_pokemon.shape)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

(800, 12)

In [8]:
df_combat['1st_pokemon_name'] = df_combat['First_pokemon'].apply(lambda x:df_pokemon['Name'][x-1])
df_combat['1st_pokemon_type1'] = df_combat['First_pokemon'].apply(lambda x:df_pokemon['Type 1'][x-1])
df_combat['1st_pokemon_hp'] = df_combat['First_pokemon'].apply(lambda x:df_pokemon['HP'][x-1])
df_combat['1st_pokemon_attack'] = df_combat['First_pokemon'].apply(lambda x:df_pokemon['Attack'][x-1])
df_combat['1st_pokemon_defense'] = df_combat['First_pokemon'].apply(lambda x:df_pokemon['Defense'][x-1])
df_combat['1st_pokemon_spatk'] = df_combat['First_pokemon'].apply(lambda x:df_pokemon['Sp. Atk'][x-1])
df_combat['1st_pokemon_spdef'] = df_combat['First_pokemon'].apply(lambda x:df_pokemon['Sp. Def'][x-1])
df_combat['1st_pokemon_speed'] = df_combat['First_pokemon'].apply(lambda x:df_pokemon['Speed'][x-1])

df_combat['2nd_pokemon_name'] = df_combat['Second_pokemon'].apply(lambda x:df_pokemon['Name'][x-1])
df_combat['2nd_pokemon_type1'] = df_combat['Second_pokemon'].apply(lambda x:df_pokemon['Type 1'][x-1])
df_combat['2nd_pokemon_hp'] = df_combat['Second_pokemon'].apply(lambda x:df_pokemon['HP'][x-1])
df_combat['2nd_pokemon_attack'] = df_combat['Second_pokemon'].apply(lambda x:df_pokemon['Attack'][x-1])
df_combat['2nd_pokemon_defense'] = df_combat['Second_pokemon'].apply(lambda x:df_pokemon['Defense'][x-1])
df_combat['2nd_pokemon_spatk'] = df_combat['Second_pokemon'].apply(lambda x:df_pokemon['Sp. Atk'][x-1])
df_combat['2nd_pokemon_spdef'] = df_combat['Second_pokemon'].apply(lambda x:df_pokemon['Sp. Def'][x-1])
df_combat['2nd_pokemon_speed'] = df_combat['Second_pokemon'].apply(lambda x:df_pokemon['Speed'][x-1])

In [9]:
df_combat.head()

,First_pokemon,Second_pokemon,Winner,1st_pokemon_name,1st_pokemon_type1,1st_pokemon_hp,1st_pokemon_attack,1st_pokemon_defense,1st_pokemon_spatk,1st_pokemon_spdef,1st_pokemon_speed,2nd_pokemon_name,2nd_pokemon_type1,2nd_pokemon_hp,2nd_pokemon_attack,2nd_pokemon_defense,2nd_pokemon_spatk,2nd_pokemon_spdef,2nd_pokemon_speed
0,266,298,298,Larvitar,Rock,50,64,50,45,50,41,Nuzleaf,Grass,70,70,40,60,40,60
1,702,701,701,Virizion,Grass,91,90,72,90,129,108,Terrakion,Rock,91,129,90,72,90,108
2,191,668,668,Togetic,Fairy,55,40,85,80,105,40,Beheeyem,Psychic,75,75,75,125,95,40
3,237,683,683,Slugma,Fire,40,40,40,70,40,20,Druddigon,Dragon,77,120,90,60,90,48
4,151,231,151,Omastar,Rock,70,60,125,115,70,55,Shuckle,Bug,20,10,230,10,230,5

In [10]:
df_combat.isnull().sum()

First_pokemon           0
Second_pokemon          0
Winner                  0
1st_pokemon_name       56
1st_pokemon_type1       0
1st_pokemon_hp          0
1st_pokemon_attack      0
1st_pokemon_defense     0
1st_pokemon_spatk       0
1st_pokemon_spdef       0
1st_pokemon_speed       0
2nd_pokemon_name       52
2nd_pokemon_type1       0
2nd_pokemon_hp          0
2nd_pokemon_attack      0
2nd_pokemon_defense     0
2nd_pokemon_spatk       0
2nd_pokemon_spdef       0
2nd_pokemon_speed       0
dtype: int64

In [11]:
df_combat['First_win'] = df_combat.apply(lambda col: 1 if col['Winner'] == col['First_pokemon'] else 0, axis=1)

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
label_1st_type1 = LabelEncoder()
label_2nd_type1 = LabelEncoder()

In [14]:
label_1st_type1.fit(df_combat['1st_pokemon_type1'])
label_2nd_type1.fit(df_combat['2nd_pokemon_type1'])

LabelEncoder()

In [15]:
df_combat['label_1st_type1'] = label_1st_type1.transform(df_combat['1st_pokemon_type1'])
df_combat['label_2nd_type1'] = label_2nd_type1.transform(df_combat['2nd_pokemon_type1'])

In [16]:
df_combat.head()

,First_pokemon,Second_pokemon,Winner,1st_pokemon_name,1st_pokemon_type1,1st_pokemon_hp,1st_pokemon_attack,1st_pokemon_defense,1st_pokemon_spatk,1st_pokemon_spdef,...,2nd_pokemon_type1,2nd_pokemon_hp,2nd_pokemon_attack,2nd_pokemon_defense,2nd_pokemon_spatk,2nd_pokemon_spdef,2nd_pokemon_speed,First_win,label_1st_type1,label_2nd_type1
0,266,298,298,Larvitar,Rock,50,64,50,45,50,...,Grass,70,70,40,60,40,60,0,15,9
1,702,701,701,Virizion,Grass,91,90,72,90,129,...,Rock,91,129,90,72,90,108,0,9,15
2,191,668,668,Togetic,Fairy,55,40,85,80,105,...,Psychic,75,75,75,125,95,40,0,4,14
3,237,683,683,Slugma,Fire,40,40,40,70,40,...,Dragon,77,120,90,60,90,48,0,6,2
4,151,231,151,Omastar,Rock,70,60,125,115,70,...,Bug,20,10,230,10,230,5,1,15,0

In [17]:
df_combat.columns

Index(['First_pokemon', 'Second_pokemon', 'Winner', '1st_pokemon_name',
       '1st_pokemon_type1', '1st_pokemon_hp', '1st_pokemon_attack',
       '1st_pokemon_defense', '1st_pokemon_spatk', '1st_pokemon_spdef',
       '1st_pokemon_speed', '2nd_pokemon_name', '2nd_pokemon_type1',
       '2nd_pokemon_hp', '2nd_pokemon_attack', '2nd_pokemon_defense',
       '2nd_pokemon_spatk', '2nd_pokemon_spdef', '2nd_pokemon_speed',
       'First_win', 'label_1st_type1', 'label_2nd_type1'],
      dtype='object')

In [27]:
X = df_combat.drop(['First_pokemon', 'Second_pokemon', 'Winner', '1st_pokemon_name',
       '1st_pokemon_type1', '2nd_pokemon_type1', '2nd_pokemon_name', 'First_win'],axis=1)
y = df_combat['First_win']

In [28]:
X.columns

Index(['1st_pokemon_hp', '1st_pokemon_attack', '1st_pokemon_defense',
       '1st_pokemon_spatk', '1st_pokemon_spdef', '1st_pokemon_speed',
       '2nd_pokemon_hp', '2nd_pokemon_attack', '2nd_pokemon_defense',
       '2nd_pokemon_spatk', '2nd_pokemon_spdef', '2nd_pokemon_speed',
       'label_1st_type1', 'label_2nd_type1'],
      dtype='object')

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [21]:
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier

In [22]:
rfc_model = RandomForestClassifier(n_estimators=100)

In [23]:
rfc_model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [24]:
prediction_rfc = rfc_model.predict(X_test)

In [25]:
print(classification_report(y_test,prediction_rfc))

              precision    recall  f1-score   support

           0       0.96      0.94      0.95      8815
           1       0.93      0.95      0.94      7685

    accuracy                           0.94     16500
   macro avg       0.94      0.94      0.94     16500
weighted avg       0.94      0.94      0.94     16500

In [26]:
print(confusion_matrix(y_test,prediction_rfc))

[[8249  566]
 [ 386 7299]]